*{
    padding: 0;
    top: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(187, 187, 187);
    margin: 0;
}
.parCls{
    width: 100%;
}
.childCls{
    width: 100%;
    height: 60px;
    background-color: black;
}
.clsItem{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.eachCls{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 20px;
}
.dropdown{
    position: relative;
    /* background-color: white; */
}
.dropItems{
    display: none;
    position: absolute;
    top: 40px;
    width: 140px;
    left: 0;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
}
/* .subItem{
    position: relative;
} */
.dropP{
    color: black;
    padding: 10px;
    border-bottom: 1px solid rgb(214, 208, 208);
    /* border: 1px solid rgb(179, 175, 175); */
}
.subItemdrop{
    display: none;
    width: 130px;
    left: 0;
    background-color: white;
    padding-left: 10px;
    font-size: 15PX;
    font-weight: 700;
    color: grey;
}
.subItem:hover .subItemdrop{
    display: block;
}
.dropdown:hover .dropItems{
    display: block;
}